# Plotting Multiple Data Series

Complete the following set of exercises to solidify your knowledge of plotting multiple data series with pandas, matplotlib, and seaborn. Part of the challenge that comes with plotting multiple data series is transforming the data into the form needed to visualize it like you want. For some of the exercises in this lab, you will need to transform the data into the form most appropriate for generating the visualization and then create the plot.

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import numpy as np

warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
data = pd.read_csv('liquor_store_sales.csv')
data

## 1. Create a bar chart with bars for total Retail Sales, Retail Transfers, and Warehouse Sales by Item Type.

In [ ]:
data[["ItemType","RetailSales","RetailTransfers","WarehouseSales"]].groupby(["ItemType"]).agg(sum).plot.bar()

## 2. Create a horizontal bar chart showing sales mix for the top 10 suppliers with the most total sales.

In [ ]:
# .barh



data["TotalSales"] = data[["RetailSales","RetailTransfers","WarehouseSales"]].sum(axis=1)

data_plot  = data[["Supplier","ItemType","TotalSales"]].groupby(["Supplier","ItemType"]).sum()
# data[["Supplier","ItemType","TotalSales"]].sort_values(by="TotalSales").iloc[:10,:]
# data.sort_values(by="TotalSales").groupby("Supplier").sum()

data_plot = data_plot.groupby(["Supplier"]).sum(numeric_only=True).sort_values(by="TotalSales", ascending= False).iloc[:10,:] #On veut sort sur la somme des différentes activité mais on veut garder le détails -> Dans la colonne TotalSale on va faire la somme de toutes les activités 

data_plot.plot.barh()

data_plot

In [77]:
data_plot = data[["Supplier","ItemType","RetailSales","RetailTransfers","WarehouseSales"]]

data_plot

data_plot["TotalSales"] = data_plot[["RetailSales","RetailTransfers","WarehouseSales"]].sum(axis=1)

data_plot['TotalSalesSupplier'] = data_plot.groupby('Supplier').sum() # Equivalent à l'instruction SQL : calculate AVG(value) OVER (PARTITION BY group)


# data_plot.sort_values(by="TotalSalesSupplier", ascending= False).iloc[:10,:]


# data_plot['TotalSalesItemType'] = data_plot.groupby(["Supplier"])["TotalSales"].sum()

test_df = data_plot[["Supplier","ItemType","TotalSales","TotalSalesSupplier"]].groupby(["Supplier","ItemType"]).sum().sort_values(by=["Supplier","ItemType"])

data_plot

ValueError: Cannot set a DataFrame with multiple columns to the single column TotalSalesSupplier

In [76]:
data_plot[["Supplier","TotalSales"]].groupby('Supplier').sum()

                            TotalSales
Supplier
8 VINI INC                        5.78
A HARDY USA LTD                   0.40
A I G WINE & SPIRITS            152.44
A VINTNERS SELECTIONS         46778.34
A&E INC                          13.52
...                                ...
WINEBOW INC                      -0.34
YOUNG WON TRADING INC          4634.95
YUENGLING BREWERY             74284.84
Z WINE GALLERY IMPORTS LLC       36.08
ZURENA LLC                       36.82

[333 rows x 1 columns]

## 3. Create a multi-line chart that shows average Retail Sales, Retail Transfers, and Warehouse Sales per month over time.

## 4. Plot the same information as above but as a bar chart.

## 5. Create a multi-line chart that shows Retail Sales summed by Item Type over time (Year & Month).

*Hint: There should be a line representing each Item Type.*

## 6. Plot the same information as above but as a bar chart.

## 7. Create a scatter plot showing the relationship between Retail Sales (x-axis) and Retail Transfers (y-axis) with the plot points color-coded according to their Item Type.

*Hint: Seaborn's lmplot is the easiest way to generate the scatter plot.*

## 8. Create a scatter matrix using all the numeric fields in the data set with the plot points color-coded by Item Type.

*Hint: Seaborn's pairplot may be your best option here.*