# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [23]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests
In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.To load the data, run the code below.

In [3]:
pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [36]:
# pokemon[["Legendary","#"]].groupby(by = "Legendary").count()
pokemon["Legendary"].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [26]:
# pokemon["Total"][pokemon["Legendary"]== True].mean()
pokemon_legendary = pokemon["Legendary"]==True
pokemon["Total"][pokemon_legendary].agg(["mean","std"])

mean    637.384615
std      60.937389
Name: Total, dtype: float64

In [25]:
pokemon_non_legendary = pokemon["Legendary"]==False
pokemon["Total"][pokemon_non_legendary].agg(["mean","std"])

mean    417.213605
std     106.760417
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
stats.ttest_ind(pokemon_legendary,pokemon_non_legendary , equal_var= False) #equal_var= False car "Since we do not have any information about the population, assume the variances are not equal."

TtestResult(statistic=-61.267879095786114, pvalue=0.0, df=1598.0)

What do you conclude from this test? Write your conclusions below.

They two sample have not the same mean.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [35]:
pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [49]:
water_pokemon = pokemon[pokemon["Type 1"] == "Water"].dropna()
water_pokemon["Total"].agg(["mean",'std'])

mean    449.056604
std     109.268620
Name: Total, dtype: float64

In [50]:
non_water_pokemon = pokemon[pokemon["Type 1"] != "Water"].dropna()
non_water_pokemon["Total"].agg(["mean",'std'])

mean    457.739612
std     122.557872
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [53]:
stats.ttest_ind(water_pokemon["Total"],non_water_pokemon["Total"], equal_var= True)

TtestResult(statistic=-0.4879954578382274, pvalue=0.6258126527092007, df=412.0)

Write your conclusion below.

Null hypothesis rejected

# Challenge 2 - Matched Pairs Test
In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [55]:
stats.ttest_rel(pokemon["Defense"], pokemon["Attack"])

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

Rejected

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [57]:
stats.ttest_rel(pokemon["Sp. Def"], pokemon["Sp. Atk"])

TtestResult(statistic=-0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

Rejected

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [59]:
stats.ttest_1samp(pokemon["Defense"]-pokemon["Attack"],0)

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test
The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test). <br/>
In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [69]:
pokemon["ater_type"] = pokemon["Type 1"] == "Water"
contigency_table = pd.crosstab(index = pokemon["Water_type"], columns = pokemon["Legendary"])

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [70]:
stats.chi2_contingency(contigency_table)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.08625467249550949, dof=1, expected_freq=array([[632.1,  55.9],
       [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

Rejected